#在init.rc中是按照section来解析每一段数据的，每一段section的起始位置是symbol标识，结束位置是下一个section开始的起始标示。在init.rc中，symbol一共有两个，分别是on和service，这里是service
service zygote /system/bin/app_process -Xzygote /system/bin --zygote --start-system-server #init进程开启/system/bin/app_process这个进程，并传入-Xzygote /system/bin --zygote --start-system-server4个参数，
                                                                                           #而这个进程将创建一个名为zygote的进程
    class main
    priority -20
    user root
    group root readproc reserved_disk
    socket zygote stream 660 root system
    onrestart write /sys/android_power/request_state wake
    onrestart write /sys/power/state on
    onrestart restart audioserver
    onrestart restart cameraserver
    onrestart restart media
    onrestart restart netd
    onrestart restart wificond
    writepid /dev/cpuset/foreground/tasks
